@import "https://fonts.googleapis.com/css2?family=Gowun+Batang&family=Spectral:wght@200&display=swap";
*{
margin:0;
padding:0;
box-sizing: border-box;
}

html {
    font-size: 10px;
   font-family: 'Spectral', serif;;
}

section {
    width: 100%;
    height: 100vh;
    color: #fff;
    background:linear-gradient(-50deg, #e7cfbe, #eeb4c6, #bae8f8, #23D5AB);
    background-size: 500% 500%;
    position:relative;
    animation: change 10s ease-in-out infinite;
}

h1 {
    color:white;
    font-size:3rem;
    text-transform: capitalize;
    letter-spacing: 2px;
    border: 2px solid #fff;
    border-style: dotted;
    border-radius: 100px;
position: absolute;
top:50%;
left:50%;
transform: translate(-50%, -50%);
padding: 2rem 6rem;
}


@keyframes change {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
100%{
    background-position: 0% 50%;
}
}

nav {
    height: 50px;
    background:beige;
    display: flex;
    border: 1px solid white;
    border-style: dotted;
    align-items: center;
    justify-content: center;
    padding:0px 50px 0px 100px;
}


nav ul {
    display: flex;
    list-style: none;
}
nav ul li {
    margin: 0 5px;
}
nav ul li a {
    color:rgb(0, 0, 0);
    text-decoration: none;
    font-size:18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 1px;
    font-weight: 500;
    border-radius: 30px;
    padding: 8px 10px;
    transition: all 0.4s ease;
}
nav ul li a:hover, 
e {
    background: rgb(179, 176, 160);
    color:rgb(0, 0, 0);
}



.logoname { 
    color:rgb(0, 0, 0);
    font-size: 25px;
    font-family: 'Abel',sans-serif;
    box-sizing: border-box;
    justify-content: space-between;
    padding-left: -40%;
    display: none;
}

.container {
    padding:100px;
    font-size: 20px;
 
}
.container p {
    font-size: 20px;
    text-align: right;
justify-content: right;
  
    box-sizing: border-box;
    	position: relative;
	padding: 5px;
	margin: 5px;
}
.container h4 {
    text-align: left ;
  justify-content: left;
  font-size: 30px;
}


.photo  {
   max-width: 400px;
   position: relative;
   margin: auto;
   
}
.photo img {
    width: 100%;
padding:20px;
    border-radius: 88px;
    box-sizing: border-box;
}


@media (min-width: 800px) {
	.photo img {
		grid-column: span 2;
		grid-row: span 2;
	}
}


.products__items {
	display: grid;
	column-gap: 30px;
	row-gap: 50px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.products__item {
	display: grid;
	grid-auto-flow: row;
	grid-template: auto 1fr minmax(40px, auto) / 1fr;
}
.products__image {
	position: relative;
	padding: 0px 0px 90% 0px;
	margin: 0px 0px 20px 0px;
}
.products__image img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
}
.products__name {
	color: #fff;
	font-size: 20px;
	line-height: 28px;
	margin: 0px 0px 30px 0px;
}
.products__button {
	background-color:cadetblue;
	padding: 0px 30px;
	color: #fff;
	line-height: 40px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 12px;
	text-decoration: none;
	justify-self: start;
}







.footer {
	padding: 15px;
	background-color:rgb(235, 255, 246);
	grid-area: footer;
	align-items: center;
	display: grid;
	grid-template: 1fr / 1fr minmax(auto, 500px) minmax(auto, 1100px) 1fr;
    color:rgb(0, 0, 0);
}

@media (min-width: 550px) {
	.footer__copy {
		grid-column: 2 / 3;
        text-align: center;
	}
	.footer__text {
		grid-column: 3 / 4;
		text-align: center;
	}
}
@media (max-width: 550px) {
	.footer {
		grid-template: 1fr 1fr / 1fr;
		justify-items: center;
	}
	.footer__copy {
		order: 2;
	}
	.footer__text {
		order: 1;
	}
}


